= simple_form_for @user do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} ошибок найдено при попытке сохранить изменения:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    = f.input :login
    = f.input :password
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :email
    = f.input :phone

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
