- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:login) + ':'
  %br
  = @user.login
%p
  %strong= model_class.human_attribute_name(:password) + ':'
  %br
  = @user.password
= link_to t('.create_actor'), new_actor_path, class: 'btn btn-large btn-success'
= link_to t('.create_model'), new_model_path, class: 'btn btn-large btn-warning'
